<input class="url-screen-input" placeholder="https://url.to.screen" />
<button class="btn btn-primary">Get Screenshots</button>

<div class="devices-list clr-row">
  <div class="clr-col-lg-4 clr-col-12">
    <div class="card">
      <h3 class="card-header">Desktop</h3>
      <div class="card-block">
        <ul>
          <li>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox />
              <label>Windows Dell Inspiron 25</label>
            </clr-checkbox-wrapper>
          </li>
          <li>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox />
              <label>Macbook Pro</label>
            </clr-checkbox-wrapper>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <div class="card">
      <h3 class="card-header">Tablet</h3>
      <div class="card-block">
        <ul>
          <li>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox />
              <label>iPad 14"</label>
            </clr-checkbox-wrapper>
          </li>
          <li>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox />
              <label>Samsung Galaxy S9</label>
            </clr-checkbox-wrapper>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <div class="card">
      <h3 class="card-header">Phone</h3>
      <div class="card-block">
        <ul>
          <li>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox />
              <label>Google Pixel 7</label>
            </clr-checkbox-wrapper>
          </li>
          <li>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox />
              <label>Samsung S23</label>
            </clr-checkbox-wrapper>
          </li>
          <li>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox />
              <label>Samsung ZFlip 2</label>
            </clr-checkbox-wrapper>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<p>
  Enter the URL and select devices to get all the screenshots for those devices.
</p>
