<p>Please select a device to start a live session.</p>

<div class="devices-list clr-row">
  <div class="clr-col-lg-4 clr-col-12">
    <div class="card">
      <h3 class="card-header">Desktop</h3>
      <div class="card-block">
        <ul>
          <li>Windows Dell Inspiron 25</li>
          <li>Macbook Pro</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <div class="card">
      <h3 class="card-header">Tablet</h3>
      <div class="card-block">
        <ul>
          <li>iPad 14"</li>
          <li>Samsung Galaxy S9</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <div class="card">
      <h3 class="card-header">Phone</h3>
      <div class="card-block">
        <ul>
          <li>Google Pixel 7</li>
          <li>Samsung S23</li>
          <li>Samsung ZFlip 2</li>
        </ul>
      </div>
    </div>
  </div>
</div>
